.container {
    width: 1240px;
    margin:  0 auto;
}
.shortcut {
    background-color: #1118a1;
    height: 52px;

}
.shortcut .container {
    background-color: #1118a1;
    height: 52px;
}

.shortcut ul a {
    margin: 0 16px 0 16px;
    font-size: 14px;
    color: #dcdcdc;

}
.shortcut ul li {
    float: right;
    line-height: 52px;
    color: #666666;

}
.main-nav {
    height: 130px;
    /* background-color: red; */
    padding-top: 30px;
    box-sizing: border-box;
    border: 1px solid #1118a1;
}
.main-nav .logo a {
    display: block;
    width: 242px;
    height: 70px;
    background: url('../中南文创.png');
    background-size: 100% 100%;
    font-size: 0;
}
.main-nav .logo {
    width: 242px;
    height: 70px;
    /* background-color: red; */
    margin-left: 25px;
    float: left
}
.main-nav nav li {
    height: 70px;
    float: left;
    line-height: 70px;
    margin-right: 44px;
}
.main-nav nav li:first-child {
    margin-left: 35px;
}
.main-nav ul li a {
    color: #333;
    font-size: 16px;
}
.main-nav ul li a:hover {
    color:#1118a1;
    border-bottom: 1px solid #1118a1;
    padding-bottom: 7px;
}
.main-nav .search {
    width: 152px;
    height: 30px;
    margin-top: 24px;
    margin-left: 10px;
    background-color: yellow;
    float:left;
    position: relative;
}
.main-nav .search input {
    width: 152px;
    height: 30px;
    border-bottom: 2px solid #e7e7e7;
    padding-left: 31px;
}
.main-nav .search::before {
    content: "";
    width: 18px;
    height: 18px;
    display: block;/* 默认为行内元素 定位后也可以改变 */
    position: absolute;
    top: 5px;
    left: 2px;
    background: url('../素材图/搜索.png');
    background-size: contain;
}
.main-nav .cart {
    width: 23px;
    height: 23px;
    background-color: red;  
    float: left;
    margin-top: 28px;
    margin-left: 10px;
    background: url('../素材图/购物车.png');
    background-size: contain;
}
.introduction {
    /* background-color: pink; */
    padding: 30px 30px 0 30px;
    box-sizing: border-box;
}
.introduction ul li {
    /* background-color: red; */
    border-bottom: 1px dashed #333;
    padding: 10px 0 10px 0;
}
.introduction li h3 {
    color: #1118a1;
}
.map {
    height: 1000px;
    width: 1200px;
    
    background: url('../素材图/map.png');
    background-size: 100% 100%;
    padding-top: 40px;
    margin: 0 auto;
}
.final {
    background: #1118a1 url('../素材图/final.png');
    background-size: cover;
    height: 300px;
    width: 1260px;
    padding-top: 20px;
}